.artist-zone {
    height: calc(100% - 76px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    .album-cover {
        width: 200px;
        height: 200px;
        border: 2px solid white;
        margin: 16px;
    }

    .track-name {
        order: 0;
        flex: 0 1 auto;
        align-self: center;
        padding: 5px;
        font-weight: bold;
    }

    .artist-name {
        order: 1;
        flex: 0 1 auto;
        align-self: auto;
        padding: 5px;
    }
}
