@import '../Base';

.header-container {
    height: 76px;
}

.header-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;

    .heading {
        order: 0;
        flex: 0 1 auto;
        align-self: flex-start;
    }

    .search-container {
        order: 1;
        flex: 0 1 auto;
        align-self: flex-end;
        display: flex;
    }
}

.header {
    background-color: $primary;
    color: $white;
    font-family: $fontFace;
    font-size: $headingSize;
    padding: 21px;
}
