@import '../variables';

.search-box {
    font-size: 1.6rem;
    border: 1px solid $primaryShadow;
    border-radius: 16px;
    background-color: $primaryShadow;
    color: $primaryShadow;
    width: 170px;

    input {
        background-color: $primaryShadow;
        color: $white;
        border: 0px;
        line-height: 22px;
        top: -3px;
        position: relative;

        &:focus {
            outline-width: 0;
        }
    }

    .search-icon {
        position: relative;
        font-size: 18px;

        &:before {
            content: ' ';
            display: inline-block;
            background: 0 0;
            height: 28px;
            vertical-align: middle;
            width: 28px;
            transform: scale(0.5);
            background: url('../assets/magnifying-glass_search-bar.svg')
                no-repeat;
        }
    }
}
