@import '../Base';

.player-container {
    background-color: $background;
    height: 90vh;
    color: $white;

    .footer {
        background-color: $footerBackground;

        height: 76px;
        text-align: center;

        /*display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: space-between;
        align-items: center;
 */
    }
}

.icon {
    transform: scale(0.75);
    padding-left: 14px;
    cursor: pointer;
}
