@import '../Base';

.grey {
    color: $grey;
}

.orange {
    color: $primary;
}

.content-list {
    background-color: $background;
    height: 90%;
    color: $white;
    padding: 20px;
    overflow: scroll;

    .search-heading {
        font-size: $headingSize;
        padding: 21px !important;
        margin: -4px;
    }

    .content-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        .empty-message {
            font-size: $headingSize;
        }

        .empty-icon {
            margin: auto;
            display: block;
            transform: scale(0.5);
        }
    }
}
