@import '../Base';

.song {
    .track-artwork-60 {
        width: 60px;
        height: auto;
    }

    .track-name {
        color: $primary;
    }

    cursor: pointer;

    &:hover {
        background-color: $hoverList;
    }
}

.layout {
    height: 89px;
}
